/*seletor de tipo: tag*/
h1, h3 {
    color: blueviolet;
    text-align: center;
    text-shadow: 0 0 10px greenyellow;
}

/*seletor de classe*/
.p1 {
    color: yellow;
}

/*seletor de id*/
#p2 {
    color: red;
}

/*seletor universal*/
* {
    font-family: Arial, Helvetica, sans-serif;
}

#h1-exemplo {
    color: greenyellow;
    text-align: right;
}

body {
    background-color: azure;
}

body {
    background-image: url('plano-fundo.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;

}

.conteudo h4 {
    color: rgb(111, 255, 0);
}

.conteudo h5 {
    color: rgba(0, 247, 255, 0.887);
}
